/*
Company:	Company Name
Developer:	Adam Culpepper
*/


/*
a						{outline:1px dotted #D68A85!important;}
h1, h2, h3, h4, h5, h6	{outline:1px dotted #E7912D!important;}
li						{outline:1px dotted #CECC33!important;}
span					{outline:1px dotted #F0F!important;}
div						{outline:1px dotted #3AB6F1!important;}
ul, ol					{outline:1px dotted #8684D8!important;}
li						{outline:1px dotted #DD67AE!important;}
table td				{outline:1px dotted lightblue!important;}
i						{outline:1px dotted gray!important;}
img						{outline:1px dotted #bad!important;}
*/


/* Resets & Globals */
html, body {height:100%;}
body, form, input, h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}
body {color:#000; font-size:16px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}
a img {border:0;}
table {border-collapse:collapse; border-spacing:0;}
table td {text-align:center;}
td, th {padding:0;}
:focus {outline:0;}
input[type=tel],
input[type=text],
input[type=email],
input[type=password] {padding:0 8px;}
h1, h2, h3, h4, h5, h6 {margin:10px 0; color:#333; font-weight:normal; letter-spacing:1px;}
h1 {font-size:36px; line-height:36px;}
h2 {font-size:30px; line-height:30px;}
h3 {font-size:24px; line-height:24px;}
h4 {font-size:18px; line-height:18px;}
h5 {font-size:16px; line-height:16px;}
h6 {font-size:14px; line-height:14px;}
hr {height:1px; border:0; background:#ccc; margin:40px 0;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.nomargin {margin:0;}
.nopadding {padding:0;}
.soft-hide {display:none;}
.padding-top {padding-top:30px;}
.padding-bottom {padding-bottom:30px;}
img.padding-right {padding-right:10px;}
img.padding-bottom {padding-bottom:10px;}
:-moz-placeholder {color:#777;}
::-moz-placeholder {color:#777;}
:-ms-input-placeholder {color:#777;}
::-webkit-input-placeholder {color:#777;}


/* Bootstrap Resets */
a:not(.btn) {text-decoration:none; color:#555;}
a:not(.btn):hover {text-decoration:none; color:#777;}
.btn {margin-top:20px;}
.btn i {color:#fec52e; margin-left:10px;}
.btn-primary {background:#3f98cc; color:#FFF;}
.btn-default {background:#939598; color:#FFF;}
.btn-default:hover {background:#777; color:#FFF;}


/* Top Link */
.top-bar {height:40px; line-height:40px; background:#006298;}


/* Content */
.content {margin-top:35px; color:#636363; line-height:25px;}
.content img {width:100%;}
.content img.auto {width:auto;}
.content .row {margin-bottom:30px;}


/* Footer */
.footer {}
.footer .top {background:#CCC; letter-spacing:1px;}
.footer .bottom {background:#BBB;}


/* Banner */
.header:after {content:"."; display:block; width:100%; height:12px; text-indent:-9999px;
	background:#006298;
	background:-moz-linear-gradient(left,  #006298 0%, #4089b2 50%, #006298 100%);
	background:-webkit-gradient(linear, left top, right top, color-stop(0%,#006298), color-stop(50%,#4089b2), color-stop(100%,#006298));
	background:-webkit-linear-gradient(left,  #006298 0%,#4089b2 50%,#006298 100%);
	background:-o-linear-gradient(left,  #006298 0%,#4089b2 50%,#006298 100%);
	background:-ms-linear-gradient(left,  #006298 0%,#4089b2 50%,#006298 100%);
	background:linear-gradient(to right,  #006298 0%,#4089b2 50%,#006298 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#006298', endColorstr='#006298',GradientType=1 );
}

.banner .slider {overflow:hidden;} /* max-height set on the breakpoints */
.banner .slider:before,
.banner .slider:after {content:"."; display:block; position:absolute; z-index:999; width:100%; text-indent:-9999px;}
.banner .slider:before {top:-22px; box-shadow:0 3px 8px 0 rgba(0, 0, 0, 0.2);}
.banner .slider:after {bottom:-22px; box-shadow:0 -3px 8px 0 rgba(0, 0, 0, 0.3);}

.banner .slider .cycle-pager {position:absolute; bottom:2%; z-index:999;}
.banner .slider .cycle-pager span {display:inline-block; width:12px; height:12px; margin-right:10px; background:#00588e; text-indent:-9999px;}
.banner .slider .cycle-pager span.cycle-pager-active {background:#0776aa;}

.home .banner .slider {max-height:460px; text-align:center;}
.home .banner .slider img {width:100%; max-width:1300px;}
.home .banner .slider > div {width:100%; margin-left:0;}


/* Headers (non Home page) */
.header {/*margin:0 -50px;*/}
.header .img {display:block; position:relative; width:100%; background:#c7c7c7; text-align:center;}
.header .img:before {content:""; display:block; position:absolute; width:100%; height:100%;
	-webkit-box-shadow:inset 0 0px 10px 0 rgba(0, 0, 0, 0.30);	
	   -moz-box-shadow:inset 0px 0px 20px 0 rgba(255, 0, 255,1);
			box-shadow:inset 0 0px 10px 0 rgba(0, 0, 0, 0.30);
}
.header .img img {max-width:100%; height:auto;}


/* Page Specific Styles */


/* Large desktop - lg */
@media screen and (min-width:1200px) {
	body {/*background:red;*/}
}


/* Medium Desktop - md */
@media screen and (max-width:1200px) {
	body {background:#b9e2ba;}
}


/* Small Desktop to Landscape tablet - sm */
@media screen and (max-width:992px) {
	body {background:lightblue;}
}


/* Landscape phone to portrait tablet - xs */
@media screen and (max-width:767px) {
	body {background:#e7e79f;} /*yellow*/
}


/* iphone5 landscape */
@media screen and (max-width:480px) {
	body {background:#e5c48f;} /*orange*/
}


/* iphone5 portrait */
@media screen and (max-width:320px) {

}
